{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <form action="" method="post" enctype="multipart/form-data" accept="image/*">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
{% endblock %}