{% load posts_templatetag %}
<div class="card my-5">
    <div class="card-header">
        <!-- 게시물 작성자 클릭시 해당유저 페이지로 이동 -->
        <a href="{% url 'accounts:user_page' post.user.id %}" style="color:black">{{post.user}}</a>
    </div>
    {% if post.image_set %}
    <div id="post{{post.id}}" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner">
            {% for image in post.image_set.all %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    <img src="{{ image.file.url }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
            <a class="carousel-control-prev" href="#post{{post.id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#post{{post.id}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% else %}
        <img src="..." alt="..." class="card-img-top" />
    {% endif %}
    <div class="card-body">
        <!-- 좋아요 버튼 시작 -->
        {%if user in post.likes.all %}
            <a href="{% url 'posts:like' post.id %}" id="like" name="{{post.id}}"> <i id="heart" class="fas fa-heart fa-lg" style="color:#ed4956"> </i> </a>
        {%else%}
            <a href="{% url 'posts:like' post.id %}" id="like" name="{{post.id}}"> <i id="heart" class="far fa-heart fa-lg" style="color:black"><span id="like_count" class="badge badge-light"></span></i> </a>
        {%endif%}
        <!-- 기존코드 -->
        <p class="card-text"><strong>{{post.user}}</strong> {{post.content}}</p>
        <!-- 커스텀템플릿필터 적용 -->
        <p class="card-text"><strong>{{post.user}}</strong> {{post|hashtag_link|safe}}</p>        
        <p class="card-text">좋아요 {{post.likes.count}}개</p>
        <!-- 좋아요 끝 -->
        {% if user == post.user %}
            <a href="{% url 'posts:update' post.id %}" class="btn btn-warning">수정</a>
        {% endif %}
    </div>
    <div class="card-body">
        {% for comment in post.comment_set.all %}
            <p class="card-text"><strong>{{comment.user}}</strong> {{comment.content}}</p>
        {% empty %}
            <p class="card-text">댓글이 없습니다.</p>
        {% endfor %}
    </div>
    <div class="card-footer">
        <form action="{% url 'posts:comment_create' post.id %}" method="post">
            {% csrf_token %}
            {{ comment_form.content }}
            <input type="submit" value="게시" class="btn-light">
        </form>
    </div>
</div>
