{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <form action="" method="post" enctype="multipart/form-data" accept="image/*">
        {% csrf_token %}
        {% bootstrap_form post_form %}
        {% if image_form %}
            {% bootstrap_form image_form show_label=False %}
        {% endif %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
{% endblock %}